<ul class="posts-listing">
  {{#each post in controller}}
    <li>
      {{#link-to-animated "post" post animations="main:slideLeft"}}
        <span class="post-title">{{post.title}}</span>
        {{#with post.category}}
        <span {{bind-attr class=":category-label id"}}>{{title}}</span>
        {{/with}}
      {{/link-to-animated}}
    </li>
  {{else}}
    <li>pas de posts… :-(</li>
  {{/each}}
</ul>