<ul class="posts-listing">
  {{#each post in controller}}
    <li>
      {{#link-to-animated "post" post animations="main:slideLeft"}}
        {{post.title}}
      {{/link-to-animated}}
    </li>
  {{else}}
    <li>pas de posts… :-(</li>
  {{/each}}
</ul>