<div class="topbar">
	{{outlet "menu-left"}}

	<p class="title">
		{{title}}
	</p>

	{{outlet "menu-right"}}
</div>

{{animated-outlet name="main" class="with-topbar with-bottombar"}}

<div class="bottombar">
	{{#link-to-animated "index" animations="main:dissolve"}}Index{{/link-to-animated}}
	|
	{{#link-to-animated "posts" animations="main:dissolve"}}Posts{{/link-to-animated}}
</div>