<div class="layer">
    <div class="topbar">Topbar</div>

    <div class="layer with-topbar with-bottombar layout-animation">
      {{outlet}}
    </div>

    <div class="bottombar">Bottombar</div>
</div>